* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}

label {
    margin-bottom: 5px;
    color: #666;
}

.input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="text"],
select {
    width: 100%;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}

.checkbox a {
    color: #6a5acd;
    text-decoration: none;
    margin-left: 5px;
}

.submit-button {
    background-color: #6a5acd;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #5a4ebd;
}

.members {
    margin-top: 10px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto; 
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: left;
}



.delete-button {
    cursor: pointer;
    color: red;
    border: none;
    background: none;
    padding-left: 10px;
}
